<form novalidate #urlForm="ngForm" (ngSubmit)="urlForm.valid && submitUrl()">
  <div class="input-group">

    <input type="text"
           class="form-control rounded-0"
           id="url"
           placeholder="Your original URL here"
           aria-describedby="basic-addon3"
           name="url"
           [(ngModel)]="urlModel.url"
           #urlInput="ngModel">

    <span class="input-group-btn">
      <button class="btn btn-primary rounded-0" type="submit">Shorten Url</button>
    </span>
  </div>

  <div [hidden]="dumbCounter < 5"
       class="alert alert-success rounded-0">
    <strong>Well done!</strong> You've pressed button meaninglessly {{dumbCounter}}
  </div>
</form>